<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Here you will need to fill in your own ClientID and Secret from the Google Developer Console! -->
    <add key="clientId" value="" />
    <add key="secret" value="" />
    <!-- Here you will need to fill in your own mail server info as well as Google Drive account email address, which you'd like to test with! -->
    <add key="smtpServer" value="mail.domain.com" />
    <add key="mailFrom" value="Clear Google Drive Trash &lt;do-not-reply-clear-google-drive-trash@domain.com&gt;" />
    <add key="mailTo" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>